/*
	cart entire display / global styling
*/
.cart-item-price-container {
	display: flex;
}

.cart-vehicle-info,
.shopping-cart-container,
.cart-display,
.car-counter-container,
.cart-item-wrapper {
	display: flex;
}
.cart-display,
.cart-item-price-container,
.cart-total-buttons-container,
.cart-item-wrapper {
	flex-direction: column;
}
.cart-item-price-container,
.cart-display,
.cart-total-buttons-container,
.button-image-title-container,
.cart-item-wrapper {
	align-items: center;
}
.shopping-cart-container {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0%;
	left: 0%;
}

.shopping-cart-title {
	margin-top: 0.18em;
	margin-bottom: 0.55em;
}

.cart-display {
	background-color: var(--white-color);
	width: 60%;
	min-height: 100vh;
}

.cart-blur {
	backdrop-filter: blur(2.5px);
	width: 40%;
}

.shopping-cart-title {
	font-family: "Poppins";
	font-size: 4em;
	font-weight: 500;
}
.cart-total-price {
	width: 80%;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--black-color);
}
.cart-item-price-container {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.cart-total-buttons-container {
	width: 100%;
	display: flex;
}
.cart-buttons {
	width: 70%;
	display: flex;
	justify-content: space-between;
	margin: 4.06em 0;
}
.continue-shopping-button {
	background-color: var(--black-color);
	color: var(--white-color);
}
.continue-shopping-button:hover {
	cursor: pointer;
}
.checkout-button {
	color: var(--white-color);
	text-decoration: none;
}
.cart-buttons > * {
	font-size: 1.25rem;
}

.button-image-title-container {
	display: flex;
}
.button-image-title-container > img {
	margin-right: 0.792em;
}
.continue-shopping-button,
.checkout-button {
	padding: 0.66em;
	border-radius: 5px;
}
.checkout-button {
	background-color: var(--green-color);
}

.cart-buttons > *,
.cart-total-price > *,
.vehicle-checkout-title,
.vehicle-checkout-colour,
.cart-vehicle-price-remove > h3 {
	font-family: "Roboto";
}

.cart-buttons > *,
.cart-total-price > *,
.cart-vehicle-price-remove > h3 {
	font-weight: 600;
}
.vehicle-checkout-colour {
	font-weight: 400;
	font-size: 1.25rem;
}

.cart-total-price > *,
.cart-vehicle-price-remove > h3 {
	font-size: 1.5rem;
}
.cart-vehicle-price-remove > h3,
.cart-total-price-dollar {
	color: var(--green-color);
}
.cart-total-price > * {
	margin-bottom: 0.8125em;
}

.cart-item-wrapper {
	overflow-y: auto;
}

/*
	cart-items
*/
.cart-item {
	display: flex;
	border-top: 0.5px solid var(--black-color);
	border-bottom: 0.5px solid var(--black-color);
	width: 80%;
}

.vehicle-picture-cart {
	width: 26.6%;
	height: auto;
	object-fit: contain;
}
.garbage-icon-cart {
	width: 16px;
}
.garbage-icon-cart:hover {
	cursor: pointer;
}
.cart-vehicle-price-remove {
	white-space: nowrap;
	text-align: right;
}
.cart-vehicle-price-remove > h3 {
	margin-bottom: 2.67em;
}
.vehicle-checkout-title {
	font-size: 2rem;
	margin-bottom: 0.40625em;
}
.vehicle-checkout-colour {
	margin-bottom: 0.5em;
}
.cart-item > * {
	margin-top: 0.856875em;
	margin-bottom: 2.191875em;
}
.cart-item-wrapper {
	max-height: 50vh;
}
/*
	car counter	
*/

.car-counter-quantity {
	font-weight: 300;
	font-size: 1.5rem;
}

.car-counter-button-plus,
.car-counter-button-minus {
	flex: 0 0 auto;
	align-self: center;
	border-radius: 5px;
	background-color: var(--gray-color);
	border: 0.5px solid var(--black-color);
}

.car-counter-container > h1 {
	margin: auto 0.375em;
}
.car-counter-button-plus:hover,
.car-counter-button-minus:hover {
	cursor: pointer;
}
